@{
    ViewData["Title"] = "Fornecedor";
}
@model IEnumerable<Projeto_MVC_Produtos.Models.Fornecedor>
<div class="text-center">
    <h1>Fornecedores</h1>
    <a class="btn btn-success" href="/Fornecedor/Create">Cadastrar Fornecedor</a>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Razão Social</th>
            <th>CNPJ</th>   
            <th>Endereço</th>
            <th>Telefone</th>
            <th>Ações</th>
        </tr>
        @foreach(var fornecedor in Model){
            <tr>
                <td>@fornecedor.Id</td>
                <td>@fornecedor.Razaosocial</td>
                <td>@fornecedor.Cnpj</td>
                <td>@fornecedor.Endereco</td>
                <td>@fornecedor.Telefone</td>
                <td>
                    <a href="/Fornecedor/Edit/@fornecedor.Id">Editar</a>
                    <a href="/Fornecedor/Delete/@fornecedor.Id">Excluir</a>
                </td>
            </tr>
        }
    </table>
</div>
